#loading {
    text-align: center;
}

html, body {
  color: #222222;
  background: #aaaaaa;
  font-family: Verdana, Aria, Helvetica, sans-serif;
  font-size: 13px;
  margin: 0px;
  padding: 0px;
}

.fullscreen {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.anchor-bottom-right {
  position: absolute;
  bottom: 2px;
  right : 2px;
}

.transparent {
  background-color: transparent;
}

button {
  border-radius:6px;
  border:1px solid #dcdcdc;
  text-shadow: 0.1em 0.1em 0.2em #555555;
  padding:6px 12px;
}

button:hover{
  background-color: #777777;
}

button:active {
  background-color: #999999;
}

.ui-menu {
  position: absolute;
  width: 150px;
  right: 10px;
  bottom: 10px; 
}

button.vertical-center {
  vertical-align: middle;
}

.position-anchor {
  position: relative;
}

img.pushtostart {
  width: 350px;
  height: 350px;
  margin-top: 20px;
}
