#loading {
    text-align: center;
}

html, body {
    color: #222222;
    font-family: Verdana, Aria, Helvetica, sans-serif;
    font-size: 13px;
    margin: 0px;
    padding: 0px;
}

.fullscreen {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.anchor-bottom-right {
    position: absolute;
    bottom: 2px;
    right : 2px;
    z-index: 2000;
}

.transparent {
    background-color: transparent;
}

button {
    border-radius:6px;
    border:1px solid #dcdcdc;
    text-shadow: 0.1em 0.1em 0.2em #555555;
    padding:6px 12px;
}

button:hover{
    background-color: #777777;
}

button:active {
    background-color: #999999;
}

.ui-menu {
    position: absolute;
    width: 150px;
    right: 10px;
    bottom: 10px;
    z-index: 2000;
}

button.vertical-center {
    vertical-align: middle;
}

.position-anchor {
    position: relative;
}

.clicktostart {
    font: bold 18px monospace;
    text-align: center;
    color: green;
    cursor: default;
}

.clicktostart:hover {
    color: blue;
}

.clicktostart:active {
    color: red;
}

table.viewport-stat {
    color: #ffffff;
    border: 0;
    width: 80%;
}

table.viewport-stat td {
    width: 20%;
}

table.viewport-stat td.label {
    text-align: right;
}
