html, body {
    color: #222222;
    font-family: Verdana, Aria, Helvetica, sans-serif;
    font-size: 13px;
    margin: 0px;
    padding: 0px;
}

.fullscreen {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.lefthalf {
    display: block;
    position: absolute;
    left: 0px;
    width: 50%;
}

.righthalf {
    display: block;
    position: absolute;
    left: 50%;
    width: 50%;
}

.anchor-bottom-right {
    position: absolute;
    bottom: 2px;
    right : 2px;
}

.transparent {
    background-color: transparent;
}

button {
    border-radius:6px;
    border:1px solid #dcdcdc;
    text-shadow: 0.1em 0.1em 0.2em #555555;
    padding:6px 12px;
}

button:hover{
    background-color: #777777;
}

button:active {
    background-color: #999999;
}

.ui-menu {
    position: absolute;
    width: 150px;
    right: 10px;
    bottom: 10px;
}

button.vertical-center {
    vertical-align: middle;
}

.position-anchor {
    position: relative;
}

.toolbar {
    width: 100%;
}

button.toolbar-button {
    width: 64px;
    height: 64px;
    margin: 5px;
    padding: 5px;
}

#t1 {
    width: 550px;
}

#database {
    display: none;
}

#selectdata {
    background-image: url("icons/data-folder-icon.png");
}

#showbar {
    background-image: url("icons/chart-bar-icon.png");
}

#showbar-stacked {
    background-image: url("icons/chart-bar-stacked-icon.png");
}

#showline {
    background-image: url("icons/chart-line-icon.png");
}

#showline-stacked {
    display: none;
    background-image: url("icons/chart-line-stacked-icon.png");
}

#showarea-stacked {
    background-image: url("icons/chart-area-stacked-icon.png");
}

#showarea-percentage {
    background-image: url("icons/chart-area-percentage-icon.png");
}

#showscatter {
    background-image: url("icons/chart-scatter-icon.png");
}

#togglestats {
    background-image: url("icons/system-monitor-icon.png");
}

#prev {
    background-image: url("icons/go-previous-view-icon.png");
}

#next {
    background-image: url("icons/go-next-view-icon.png");
}

#showkey {
    background-image: url("icons/format-stroke-color-icon.png");
}
#resetview {
    background-image: url("icons/zoom-fit-icon.png");
}

button.on {
    border: 2px solid;
}

.cvl-label-area {
    height: 30px;
}

.rickshaw_legend .action {
    opacity: 1;
}

.rickshaw_legend .action:hover{
    opacity: 1;
}