# Ignore compiled python files.  These are created when Python interprets a
# script in the source directory.  There is no way to suppress their
# creation short of copying the file somewhere.
*.pyc
.ExternalData*
