[submodule "VTK"]
	path = VTK
	url = git://vtk.org/VTK.git
[submodule "Qt/Testing"]
	path = Qt/Testing
	url = git://paraview.org/QtTesting.git
[submodule "Utilities/VisItBridge"]
	path = Utilities/VisItBridge
	url = git://paraview.org/VisItBridge.git
[submodule "ThirdParty/IceT/vtkicet"]
	path = ThirdParty/IceT/vtkicet
	url = git://paraview.org/IceT.git
[submodule "ThirdParty/protobuf/vtkprotobuf"]
	path = ThirdParty/protobuf/vtkprotobuf
	url = git://public.kitware.com/protobuf.git
[submodule "ThirdParty/Xdmf2/vtkxdmf2"]
	path = ThirdParty/Xdmf2/vtkxdmf2
	url = git://paraview.org/Xdmf.git
