include:
    # Metadata shared my many jobs
    - local: .gitlab/rules.yml
    - local: .gitlab/artifacts.yml

    # OS builds.
    - local: .gitlab/os-linux.yml
    - local: .gitlab/os-macos.yml

stages:
    - build
    - test
    - package

################################################################################
# Job declarations
#
# Each job must pull in each of the following keys:
#
#   - a "base image"
#   - a build script
#   - tags for the jobs
#     - already provided for upload and CI update jobs
#   - rules for when to run the job
#
# Additionally, jobs may also contain:
#
#   - artifacts
#   - dependency/needs jobs for required jobs
################################################################################

# Linux

## Spack

build:spack-centos7:
    extends:
        - .centos7
        - .spack_build_linux
        - .linux_builder_tags
        - .run_scheduled

# macOS

build:macos-python-qt:
    extends:
        - .macos_python_qt
        - .cmake_build_macos
        - .macos_builder_tags
        - .cmake_build_artifacts
        - .run_manually

test:macos-python-qt:
    extends:
        - .macos_python_qt
        - .cmake_test_macos
        - .macos_builder_tags
        - .cmake_test_artifacts
        - .run_automatically
    dependencies:
        - build:macos-python-qt
    needs:
        - build:macos-python-qt

# Deployment

## Documentation

build:documentation:
    extends:
        - .centos7
        - .doxygen_build_linux
        - .linux_builder_tags
        - .doxygen_log_artifacts
        - .run_scheduled

# Triggers

## Superbuild

superbuild:
    extends:
        - .run_superbuild_trigger
    stage: package
    variables:
        PARAVIEW_BRANCH: $CI_COMMIT_REF_NAME
        RSYNC_UPLOAD_ENABLE: "true"
    trigger:
        project: paraview/paraview-superbuild
        branch: $CI_COMMIT_REF_NAME
        strategy: depend
