.git*            export-ignore

*.sh             crlf=input
*.sh.in          crlf=input
newalpha         crlf=input
newversion       crlf=input
pvblot.in        crlf=input
pre-commit       crlf=input
