.git*            export-ignore

*.bat           -crlf
browse           crlf=input
configure        crlf=input
configure.in     crlf=input
hello            crlf=input
install-sh       crlf=input
ixset            crlf=input
ldAix            crlf=input
mkLinks          crlf=input
newalpha         crlf=input
newversion       crlf=input
rmt              crlf=input
rolodex          crlf=input
square           crlf=input
tcolor           crlf=input
timer            crlf=input
widget           crlf=input
