@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?2019208');
  src: url('../font/fontello.eot?2019208#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?2019208') format('woff'),
       url('../font/fontello.ttf?2019208') format('truetype'),
       url('../font/fontello.svg?2019208#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?2019208#fontello') format('svg');
  }
}
*/

 [class^="pv-icon-"]:before, [class*=" pv-icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.pv-icon-plus:before { content: '\e814'; } /* '???' */
.pv-icon-minus:before { content: '\e818'; } /* '???' */
.pv-icon-left-big:before { content: '\e855'; } /* '???' */
.pv-icon-up-big:before { content: '\e857'; } /* '???' */
.pv-icon-right-big:before { content: '\e856'; } /* '???' */
.pv-icon-down-big:before { content: '\e854'; } /* '???' */
.pv-icon-home:before { content: '\e820'; } /* '???' */
.pv-icon-pause:before { content: '\e85d'; } /* '???' */
.pv-icon-fast-fw:before { content: '\e862'; } /* '???' */
.pv-icon-fast-bw:before { content: '\e863'; } /* '???' */
.pv-icon-to-end:before { content: '\e85e'; } /* '???' */
.pv-icon-to-start:before { content: '\e860'; } /* '???' */
.pv-icon-stop:before { content: '\e85c'; } /* '???' */
.pv-icon-up-dir:before { content: '\e8ca'; } /* '???' */
.pv-icon-play:before { content: '\e85b'; } /* '???' */
.pv-icon-right-dir:before { content: '\e8c8'; } /* '???' */
.pv-icon-down-dir:before { content: '\e8cb'; } /* '???' */
.pv-icon-left-dir:before { content: '\e8c9'; } /* '???' */
.pv-icon-star:before { content: '\e807'; } /* '???' */
.pv-icon-star-empty:before { content: '\e808'; } /* '???' */
.pv-icon-check:before { content: '\e879'; } /* '???' */
.pv-icon-th-list:before { content: '\e80c'; } /* '???' */
.pv-icon-th-list-1:before { content: '\e8f3'; } /* '???' */
.pv-icon-heart-empty-1:before { content: '\e8f0'; } /* '???' */
.pv-icon-heart-empty:before { content: '\e806'; } /* '???' */
.pv-icon-heart:before { content: '\e805'; } /* '???' */
.pv-icon-heart-1:before { content: '\e8ef'; } /* '???' */
.pv-icon-th:before { content: '\e80b'; } /* '???' */
.pv-icon-th-1:before { content: '\e8f2'; } /* '???' */
.pv-icon-cog:before { content: '\e835'; } /* '???' */
.pv-icon-attention:before { content: '\e82c'; } /* '???' */
.pv-icon-cog-alt:before { content: '\e834'; } /* '???' */
.pv-icon-scissors:before { content: '\e8d8'; } /* '???' */
.pv-icon-edit:before { content: '\e829'; } /* '???' */
.pv-icon-pencil:before { content: '\e8ac'; } /* '???' */
.pv-icon-ok-1:before { content: '\e8f4'; } /* '???' */
.pv-icon-check-1:before { content: '\e898'; } /* '???' */
.pv-icon-ok:before { content: '\e80d'; } /* '???' */
.pv-icon-ok-circled:before { content: '\e80f'; } /* '???' */
.pv-icon-cancel-2:before { content: '\e8f5'; } /* '???' */
.pv-icon-cancel-1:before { content: '\e899'; } /* '???' */
.pv-icon-cancel:before { content: '\e811'; } /* '???' */
.pv-icon-cancel-circled:before { content: '\e812'; } /* '???' */
.pv-icon-cancel-circle:before { content: '\e8f6'; } /* '???' */
.pv-icon-asterisk:before { content: '\e877'; } /* '???' */
.pv-icon-attention-circled:before { content: '\e8b3'; } /* '???' */
.pv-icon-plus-circle:before { content: '\e8f7'; } /* '???' */
.pv-icon-plus-circled:before { content: '\e815'; } /* '???' */
.pv-icon-minus-circled:before { content: '\e8a6'; } /* '???' */
.pv-icon-minus-circle:before { content: '\e8f8'; } /* '???' */
.pv-icon-forward:before { content: '\e8b0'; } /* '???' */
.pv-icon-ccw:before { content: '\e84e'; } /* '???' */
.pv-icon-cw:before { content: '\e84f'; } /* '???' */
.pv-icon-resize-vertical:before { content: '\e846'; } /* '???' */
.pv-icon-resize-horizontal:before { content: '\e847'; } /* '???' */
.pv-icon-user-add:before { content: '\e896'; } /* '???' */
.pv-icon-ok-circled2:before { content: '\e810'; } /* '???' */
.pv-icon-cancel-circled2:before { content: '\e813'; } /* '???' */
.pv-icon-help-circled:before { content: '\e824'; } /* '???' */
.pv-icon-info-circled:before { content: '\e823'; } /* '???' */
.pv-icon-th-large-1:before { content: '\e8f1'; } /* '???' */
.pv-icon-th-large:before { content: '\e80a'; } /* '???' */
.pv-icon-eye:before { content: '\e81b'; } /* '???' */
.pv-icon-eye-off:before { content: '\e81a'; } /* '???' */
.pv-icon-camera-alt:before { content: '\e8ab'; } /* '???' */
.pv-icon-upload-cloud-1:before { content: '\e897'; } /* '???' */
.pv-icon-export:before { content: '\e8af'; } /* '???' */
.pv-icon-print:before { content: '\e8a5'; } /* '???' */
.pv-icon-retweet:before { content: '\e82a'; } /* '???' */
.pv-icon-trash:before { content: '\e82d'; } /* '???' */
.pv-icon-basket:before { content: '\e8b4'; } /* '???' */
.pv-icon-login:before { content: '\e830'; } /* '???' */
.pv-icon-logout:before { content: '\e83f'; } /* '???' */
.pv-icon-resize-full:before { content: '\e843'; } /* '???' */
.pv-icon-resize-small:before { content: '\e845'; } /* '???' */
.pv-icon-zoom-in:before { content: '\e849'; } /* '???' */
.pv-icon-zoom-out:before { content: '\e84a'; } /* '???' */
.pv-icon-down-circled2:before { content: '\e84b'; } /* '???' */
.pv-icon-up-circled2:before { content: '\e84c'; } /* '???' */
.pv-icon-down-open:before { content: '\e8c7'; } /* '???' */
.pv-icon-left-open:before { content: '\e8c6'; } /* '???' */
.pv-icon-right-open:before { content: '\e8c5'; } /* '???' */
.pv-icon-up-open:before { content: '\e8c4'; } /* '???' */
.pv-icon-arrows-cw:before { content: '\e84d'; } /* '???' */
.pv-icon-play-circled2:before { content: '\e8cd'; } /* '???' */
.pv-icon-to-end-alt:before { content: '\e85f'; } /* '???' */
.pv-icon-to-start-alt:before { content: '\e861'; } /* '???' */
.pv-icon-font:before { content: '\e865'; } /* '???' */
.pv-icon-bold:before { content: '\e866'; } /* '???' */
.pv-icon-italic:before { content: '\e867'; } /* '???' */
.pv-icon-align-left:before { content: '\e86d'; } /* '???' */
.pv-icon-align-center:before { content: '\e86e'; } /* '???' */
.pv-icon-align-right:before { content: '\e86f'; } /* '???' */
.pv-icon-align-justify:before { content: '\e870'; } /* '???' */
.pv-icon-list:before { content: '\e871'; } /* '???' */
.pv-icon-indent-left:before { content: '\e8d0'; } /* '???' */
.pv-icon-indent-right:before { content: '\e8d1'; } /* '???' */
.pv-icon-off:before { content: '\e87b'; } /* '???' */
.pv-icon-list-alt:before { content: '\e87a'; } /* '???' */
.pv-icon-ajust:before { content: '\e8e0'; } /* '???' */
.pv-icon-magnet:before { content: '\e8dc'; } /* '???' */
.pv-icon-spin1:before { content: '\e8a1'; } /* '???' */
.pv-icon-spin2:before { content: '\e89d'; } /* '???' */
.pv-icon-spin3:before { content: '\e89e'; } /* '???' */
.pv-icon-spin4:before { content: '\e89f'; } /* '???' */
.pv-icon-spin5:before { content: '\e8a0'; } /* '???' */
.pv-icon-spin6:before { content: '\e8a2'; } /* '???' */
.pv-icon-move:before { content: '\e848'; } /* '???' */
.pv-icon-check-empty:before { content: '\e878'; } /* '???' */
.pv-icon-phone-squared:before { content: '\e8b5'; } /* '???' */
.pv-icon-rss:before { content: '\e8b8'; } /* '???' */
.pv-icon-hdd:before { content: '\e87e'; } /* '???' */
.pv-icon-left-circled:before { content: '\e853'; } /* '???' */
.pv-icon-right-circled:before { content: '\e852'; } /* '???' */
.pv-icon-up-circled:before { content: '\e851'; } /* '???' */
.pv-icon-down-circled:before { content: '\e850'; } /* '???' */
.pv-icon-tasks:before { content: '\e882'; } /* '???' */
.pv-icon-filter:before { content: '\e8e3'; } /* '???' */
.pv-icon-resize-full-alt:before { content: '\e844'; } /* '???' */
.pv-icon-beaker:before { content: '\e883'; } /* '???' */
.pv-icon-docs:before { content: '\e82f'; } /* '???' */
.pv-icon-menu:before { content: '\e836'; } /* '???' */
.pv-icon-list-bullet:before { content: '\e8d2'; } /* '???' */
.pv-icon-list-numbered:before { content: '\e8d3'; } /* '???' */
.pv-icon-strike:before { content: '\e8d4'; } /* '???' */
.pv-icon-underline:before { content: '\e8d5'; } /* '???' */
.pv-icon-table:before { content: '\e872'; } /* '???' */
.pv-icon-magic:before { content: '\e8e4'; } /* '???' */
.pv-icon-columns:before { content: '\e873'; } /* '???' */
.pv-icon-sort:before { content: '\e8e7'; } /* '???' */
.pv-icon-sort-down:before { content: '\e8e6'; } /* '???' */
.pv-icon-sort-up:before { content: '\e8e5'; } /* '???' */
.pv-icon-gauge:before { content: '\e88d'; } /* '???' */
.pv-icon-sitemap:before { content: '\e88e'; } /* '???' */
.pv-icon-paste:before { content: '\e8d9'; } /* '???' */
.pv-icon-lightbulb:before { content: '\e841'; } /* '???' */
.pv-icon-download-cloud:before { content: '\e827'; } /* '???' */
.pv-icon-upload-cloud:before { content: '\e828'; } /* '???' */
.pv-icon-suitcase:before { content: '\e875'; } /* '???' */
.pv-icon-bell-alt:before { content: '\e8a3'; } /* '???' */
.pv-icon-doc-text:before { content: '\e83e'; } /* '???' */
.pv-icon-plus-squared:before { content: '\e816'; } /* '???' */
.pv-icon-angle-double-left:before { content: '\e8bc'; } /* '???' */
.pv-icon-angle-double-right:before { content: '\e8bb'; } /* '???' */
.pv-icon-angle-double-up:before { content: '\e8ba'; } /* '???' */
.pv-icon-angle-double-down:before { content: '\e8b9'; } /* '???' */
.pv-icon-angle-left:before { content: '\e8c3'; } /* '???' */
.pv-icon-angle-right:before { content: '\e8c2'; } /* '???' */
.pv-icon-angle-down:before { content: '\e8c1'; } /* '???' */
.pv-icon-desktop:before { content: '\e86c'; } /* '???' */
.pv-icon-laptop:before { content: '\e869'; } /* '???' */
.pv-icon-tablet:before { content: '\e86a'; } /* '???' */
.pv-icon-mobile:before { content: '\e86b'; } /* '???' */
.pv-icon-circle-empty:before { content: '\e8de'; } /* '???' */
.pv-icon-spinner:before { content: '\e88f'; } /* '???' */
.pv-icon-circle:before { content: '\e8df'; } /* '???' */
.pv-icon-reply:before { content: '\e8b2'; } /* '???' */
.pv-icon-folder-empty:before { content: '\e839'; } /* '???' */
.pv-icon-folder-open-empty:before { content: '\e838'; } /* '???' */
.pv-icon-plus-squared-small:before { content: '\e817'; } /* '???' */
.pv-icon-minus-squared-small:before { content: '\e8a9'; } /* '???' */
.pv-icon-smile:before { content: '\e8e8'; } /* '???' */
.pv-icon-frown:before { content: '\e8e9'; } /* '???' */
.pv-icon-meh:before { content: '\e8ea'; } /* '???' */
.pv-icon-terminal:before { content: '\e8ed'; } /* '???' */
.pv-icon-reply-all:before { content: '\e8b1'; } /* '???' */
.pv-icon-crop:before { content: '\e8da'; } /* '???' */
.pv-icon-fork:before { content: '\e880'; } /* '???' */
.pv-icon-help:before { content: '\e819'; } /* '???' */
.pv-icon-info:before { content: '\e822'; } /* '???' */
.pv-icon-attention-alt:before { content: '\e82b'; } /* '???' */
.pv-icon-superscript:before { content: '\e8d6'; } /* '???' */
.pv-icon-subscript:before { content: '\e8d7'; } /* '???' */
.pv-icon-eraser:before { content: '\e8ec'; } /* '???' */
.pv-icon-puzzle:before { content: '\e8eb'; } /* '???' */
.pv-icon-calendar-empty:before { content: '\e832'; } /* '???' */
.pv-icon-angle-circled-left:before { content: '\e8c0'; } /* '???' */
.pv-icon-angle-circled-right:before { content: '\e8bf'; } /* '???' */
.pv-icon-angle-circled-up:before { content: '\e8be'; } /* '???' */
.pv-icon-angle-circled-down:before { content: '\e8bd'; } /* '???' */
.pv-icon-html5:before { content: '\e893'; } /* '???' */
.pv-icon-lock-open-alt:before { content: '\e81d'; } /* '???' */
.pv-icon-ellipsis:before { content: '\e87d'; } /* '???' */
.pv-icon-ellipsis-vert:before { content: '\e87c'; } /* '???' */
.pv-icon-rss-squared:before { content: '\e8b7'; } /* '???' */
.pv-icon-play-circled:before { content: '\e8cc'; } /* '???' */
.pv-icon-ticket:before { content: '\e8dd'; } /* '???' */
.pv-icon-minus-squared:before { content: '\e8a7'; } /* '???' */
.pv-icon-minus-squared-alt:before { content: '\e8a8'; } /* '???' */
.pv-icon-ok-squared:before { content: '\e80e'; } /* '???' */
.pv-icon-pencil-squared:before { content: '\e8ad'; } /* '???' */
.pv-icon-export-alt:before { content: '\e8ae'; } /* '???' */
.pv-icon-collapse:before { content: '\e859'; } /* '???' */
.pv-icon-collapse-top:before { content: '\e85a'; } /* '???' */
.pv-icon-expand:before { content: '\e858'; } /* '???' */
.pv-icon-euro:before { content: '\e884'; } /* '???' */
.pv-icon-pound:before { content: '\e885'; } /* '???' */
.pv-icon-dollar:before { content: '\e886'; } /* '???' */
.pv-icon-doc-inv:before { content: '\e83d'; } /* '???' */
.pv-icon-doc-text-inv:before { content: '\e83c'; } /* '???' */
.pv-icon-sort-name-up:before { content: '\e889'; } /* '???' */
.pv-icon-sort-name-down:before { content: '\e88a'; } /* '???' */
.pv-icon-sort-alt-up:before { content: '\e887'; } /* '???' */
.pv-icon-sort-alt-down:before { content: '\e888'; } /* '???' */
.pv-icon-sort-number-up:before { content: '\e88b'; } /* '???' */
.pv-icon-sort-number-down:before { content: '\e88c'; } /* '???' */
.pv-icon-apple:before { content: '\e891'; } /* '???' */
.pv-icon-android:before { content: '\e890'; } /* '???' */
.pv-icon-linux:before { content: '\e892'; } /* '???' */
.pv-icon-gittip:before { content: '\e8ee'; } /* '???' */
.pv-icon-box:before { content: '\e837'; } /* '???' */
.pv-icon-bug:before { content: '\e881'; } /* '???' */
.pv-icon-picture:before { content: '\e803'; } /* '???' */
.pv-icon-picture-1:before { content: '\e89b'; } /* '???' */
.pv-icon-globe:before { content: '\e868'; } /* '???' */
.pv-icon-gift:before { content: '\e8db'; } /* '???' */
.pv-icon-videocam:before { content: '\e802'; } /* '???' */
.pv-icon-video:before { content: '\e8aa'; } /* '???' */
.pv-icon-target:before { content: '\e864'; } /* '???' */
.pv-icon-award:before { content: '\e8cf'; } /* '???' */
.pv-icon-user:before { content: '\e800'; } /* '???' */
.pv-icon-user-1:before { content: '\e894'; } /* '???' */
.pv-icon-users-1:before { content: '\e895'; } /* '???' */
.pv-icon-users:before { content: '\e801'; } /* '???' */
.pv-icon-briefcase:before { content: '\e874'; } /* '???' */
.pv-icon-floppy:before { content: '\e8e2'; } /* '???' */
.pv-icon-folder:before { content: '\e83b'; } /* '???' */
.pv-icon-folder-open:before { content: '\e83a'; } /* '???' */
.pv-icon-doc:before { content: '\e82e'; } /* '???' */
.pv-icon-calendar:before { content: '\e831'; } /* '???' */
.pv-icon-chart-bar:before { content: '\e876'; } /* '???' */
.pv-icon-pin:before { content: '\e81c'; } /* '???' */
.pv-icon-book:before { content: '\e8e1'; } /* '???' */
.pv-icon-phone:before { content: '\e8b6'; } /* '???' */
.pv-icon-upload:before { content: '\e826'; } /* '???' */
.pv-icon-download:before { content: '\e825'; } /* '???' */
.pv-icon-signal:before { content: '\e8ce'; } /* '???' */
.pv-icon-camera-1:before { content: '\e89a'; } /* '???' */
.pv-icon-camera:before { content: '\e804'; } /* '???' */
.pv-icon-arrows-ccw:before { content: '\e89c'; } /* '???' */
.pv-icon-search:before { content: '\e809'; } /* '???' */
.pv-icon-key:before { content: '\e87f'; } /* '???' */
.pv-icon-lock:before { content: '\e81f'; } /* '???' */
.pv-icon-lock-open:before { content: '\e81e'; } /* '???' */
.pv-icon-bell:before { content: '\e8a4'; } /* '???' */
.pv-icon-link:before { content: '\e821'; } /* '???' */
.pv-icon-link-1:before { content: '\e8f9'; } /* '???' */
.pv-icon-wrench:before { content: '\e833'; } /* '???' */
.pv-icon-clock:before { content: '\e840'; } /* '???' */
.pv-icon-block:before { content: '\e842'; } /* '???' */