/**
 * Stylesheet for ParaView components
*/

/* ========================================================================= */
/* ========================== Pipeline Browser ============================= */
/* ========================================================================= */


/* Header BAR */

.pipelineBrowser > div.pipeline-header, .pipelineBrowser div.pipeline-editor-header {
    line-height: 2em;
    background: #cccccc;
    position: relative;
    vertical-align: middle;
    outline: solid 0.5px black ;
}

.pipeline-header span.title, .pipeline-editor-header span.title {
    font-weight: bolder;
    margin-left: 10px;
}

.pipeline-header .action, .pipeline-editor-header .action {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 20px;
    height: 20px;
    display: inline-block;
}

.pipeline-header .add {
    background: url("action/add.png") no-repeat scroll center transparent;
    right: 35px;
}
.pipeline-header .delete {
    background: url("action/delete.png") no-repeat scroll center transparent;
    right: 5px;
}
.pipeline-header .delete.disable {
    background: url("action/deleteDisable.png") no-repeat scroll center transparent !important;
    right: 5px;
}
.pipeline-header .files {
    background: url("action/file.png") no-repeat scroll center transparent;
    right: 65px;
}

.pipeline-header .edit {
    background: url("action/edit.png") no-repeat scroll center transparent;
    right: 95px;
}

.pipeline-header .edit.active {
    background-color: darkgrey;
    outline: 1px solid #5F5F5F;
}

.pipeline-editor-header .apply {
    background: url("action/apply.png") no-repeat scroll center transparent;
    right: 5px;
}

.pipeline-editor {
    margin-top: 25px;
}

/* Pipline Tree */

.pipeline-tree {
    line-height: 1.5;
    -moz-user-select: none;
    position: relative;
    margin-left: 2px;
    margin-top: 2px;
}

.pipeline-tree ul {
    margin: 0 0 0 -1.5em;
    padding: 0 0 0 1.5em;
}
.pipeline-tree ul ul {
    background: url("pipeline/list-item-contents.png") repeat-y scroll left center transparent;
}
.pipeline-tree li.lastChild > ul {
    background-image: none;
}
.pipeline-tree li {
    background: url("pipeline/list-item-root.png") no-repeat scroll left top transparent;
    cursor: auto;
    list-style-image: url("pipeline/dataset.png");
    list-style-position: inside;
    margin: 0;
    padding: 0;
}

.pipeline-tree li li {
    background-image: url("pipeline/list-item.png");
    padding-left: 1.5em;
}

.pipeline-tree li.lastChild {
    background-image: url("pipeline/list-item-last.png");
}

.pipeline-tree li.open {
    background-image: url("pipeline/list-item-open.png");
}

.pipeline-tree li.open.lastChild {
    background-image: url("pipeline/list-item-last-open.png");
}

.pipeline-tree li.dataset {
    list-style-image: url("pipeline/dataset.png");
}
.pipeline-tree li.clip {
    list-style-image: url("pipeline/clip.png");
}
.pipeline-tree li.iso {
    list-style-image: url("pipeline/contour.png");
}
.pipeline-tree li.slice {
    list-style-image: url("pipeline/slice.png");
}
.pipeline-tree li.stream {
    list-style-image: url("pipeline/stream.png");
}
.pipeline-tree li.threshold {
    list-style-image: url("pipeline/threshold.png");
}
.pipeline-tree li.server {
    list-style-image: url("pipeline/server.png");
}

.pipeline-tree .proxy {
    display: inline-block;
}

/* Pipline Proxy control */

.pipeline-tree .proxy-control {
    height: 1.5em;
    position: absolute;
    right: 0px;
}

.pipeline-tree .proxy-control select {
    position: relative;
    top: -6px;
    width: 100px;
}

.pipeline-tree .proxy-control .action {
    cursor: pointer;
    position: relative;
    outline: none;
    width: 18px;
    height: 18px;
    top: 1px;
    display: inline-block;
    margin-left: 5px;
}

.pipeline-tree .proxy-control .action.active {
    outline: solid 1px black ;
}

.pipeline-tree .proxy-control .scalarbar {
    background: url("control/scalarbar.png") no-repeat scroll center transparent;
}

.pipeline-tree .proxy-control .representation {
    width: 100px;
    background: url("control/all.png") no-repeat scroll center transparent;
}

.pipeline-tree .proxy-control .representation.hide {
    width: 20px;
    background: url("control/hide.png") no-repeat scroll center transparent;
}
.pipeline-tree .proxy-control .representation.outline {
    background: url("control/outline.png") no-repeat scroll center transparent;
    width: 20px;
}
.pipeline-tree .proxy-control .representation.wireframe {
    background: url("control/wireframe.png") no-repeat scroll center transparent;
    width: 20px;
}
.pipeline-tree .proxy-control .representation.surface {
    background: url("control/surface.png") no-repeat scroll center transparent;
    width: 20px;
}
.pipeline-tree .proxy-control .representation.surface_edge {
    background: url("control/surface_edge.png") no-repeat scroll center transparent;
    width: 20px;
}

.pipeline-tree .proxy {
    cursor: pointer;
    width: 80%;
}

.pipeline-tree .proxy.active, .pipeline-tree .proxy-control.active {
    background: #cccccc;
}

/* --------------------- Pipeline filters ---------------------------- */

.pipeline-add li {
    line-height: 1.5;
    text-align: center;
    list-style: none;
    font-weight: bolder;
    background: #aaaaaa;
    background: -moz-linear-gradient(top, #cccccc, #aaaaaa);
    background: -ms-linear-gradient(top, #cccccc, #aaaaaa);
    background: -o-linear-gradient(top, #cccccc, #aaaaaa);
    background: -webkit-linear-gradient(top, #cccccc, #aaaaaa);
    background: linear-gradient(top, #cccccc, #aaaaaa);
    outline: solid 1px black ;
    cursor: pointer;
}

/* --------------------- Pipeline files ---------------------------- */

.file-panel li {
    line-height: 1.5;
    text-align: center;
    list-style: none;
    font-weight: bolder;
    background: #aaaaaa;
    background: -moz-linear-gradient(top, #cccccc, #aaaaaa);
    background: -ms-linear-gradient(top, #cccccc, #aaaaaa);
    background: -o-linear-gradient(top, #cccccc, #aaaaaa);
    background: -webkit-linear-gradient(top, #cccccc, #aaaaaa);
    background: linear-gradient(top, #cccccc, #aaaaaa);
    outline: solid 1px black;
    cursor: pointer;
}

.file-panel .menu-link.child {
    background-image: url("control/scalarbar.png") no-repeat scroll right top transparent;
}
.file-panel .menu-link.parent {
    background-image: url("control/scalarbar.png") no-repeat scroll left top transparent;
}

/*


.item {
    height: 30px;
    padding: 10px 5px 0px 5px;
    list-style: none;
    width: 390px;

    background: #aaaaaa;
    background: -moz-linear-gradient(top, #cccccc, #aaaaaa);
    background: -ms-linear-gradient(top, #cccccc, #aaaaaa);
    background: -o-linear-gradient(top, #cccccc, #aaaaaa);
    background: -webkit-linear-gradient(top, #cccccc, #aaaaaa);
    background: linear-gradient(top, #cccccc, #aaaaaa);
}

.section-header, .section-content {
    clear: both;
    width: 390px;
    position: relative;
}

.section-header {
    height: 25px;
    padding: 10px 5px 0px 5px;
    background: #aaaaaa;
    background: -moz-linear-gradient(top, #cccccc, #aaaaaa);
    background: -ms-linear-gradient(top, #cccccc, #aaaaaa);
    background: -o-linear-gradient(top, #cccccc, #aaaaaa);
    background: -webkit-linear-gradient(top, #cccccc, #aaaaaa);
    background: linear-gradient(top, #cccccc, #aaaaaa);
}


.section-header > ul {   
    line-height: normal;
    margin: 0;
    padding: 5px;
    padding-top: 0;
}

.section-header > ul > li {
    display: inline-block;
    float: left;
    top: 2.5em;
    padding: 0;
    margin: 0;
    padding-left: 5px;
}

.section-header img {
    height: 20px;
    position: absolute;
    top: 5px;
    right: 10px;
}
.section-content {
    width: 100%;
}

*/
