/* line 6, ../sass/my.scss */
#north-region { background: #009999;}
/* line 10, ../sass/my.scss */
#north-region #search-field input { font-family: "Helvetica Neue" !important; }

/* line 15, ../sass/my.scss */
#header-content { padding-left: 30px; padding-top: 2px; font-weight: bold;}

.welcome-page {
    font-family: 'Helvetica Neue',Tahoma,Arial,sans-serif;
    font-size: 13px;
    line-height: 18px;
    margin-left: auto;
    margin-right: auto;
    width: 900px;
}
.welcome-page .welcome-block {
    padding-top: 20px;
}
.welcome-page .welcome_splash {
    float: right;
    padding: 0;
}
.welcome-page .welcome-block .inner-container {
    padding: 50px 10px 20px;
}
.welcome-page .welcome-block .inner-container:before, .welcome-page .welcome-block .inner-container:after {
    content: "";
    display: table;
}
.welcome-page .welcome-block .inner-container:after {
    clear: both;
}
.welcome-page .welcome-block .inner-container h1 {
    color: black !important;
    font-size: 28px !important;
    font-weight: normal;
    line-height: 36px;
}
.welcome-page .welcome-block .inner-container p {
    color: #666666 !important;
    font-size: 16px;
    line-height: 22px;
}

.one-third-pane p {
    color: #666666 !important;
}

.welcome-page .welcome-block .inner-container img {
    padding: 0 10px;
}
.welcome-page .row {
    padding-top: 10px;
    width: 100%;
}
.welcome-page .row:before, .welcome-page .row:after {
    content: "";
    display: table;
}
.welcome-page .row:after {
    clear: both;
}
.welcome-page .half-pane {
    float: left;
    width: 48%;
}
.welcome-page .one-third-pane {
    float: left;
    padding: 0 10px;
    width: 30%;
}
.welcome-page h2 {
    color: #003333;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}
.welcome-page p {
    color: #003366;
    margin-top: 5px;
}
.welcome-page a {
    color: #5D87A1;
    text-decoration: none;
}
.welcome-page a:hover, .welcome-page a:visited {
    color: #5D87A1;
}
.welcome-page ul {
    margin-top: 5px;
}
.welcome-page li {
    margin-top: 2px;
}
.welcome-page .update-date {
    color: black;
    font-weight: bold;
    margin-bottom: -4px;
    margin-top: 7px;
}
.welcome-page table {
    width: 100%;
}
.welcome-page thead {
    background-color: #F0F1F1;
}
.welcome-page thead th {
    font-size: 13px;
    font-weight: bold;
    padding: 0 10px 2px;
}
.welcome-page tbody td {
    color: #666666;
    font-size: 13px;
    padding: 0 10px 2px;
    vertical-align: top;
}
.welcome-page .arrow-link {
    background-image: url("arrow-link.png");
    background-position: 100% 3px;
    background-repeat: no-repeat;
    padding-right: 13px;
}
