/* ---- Visualizer specific ----- */

.head-toolbar span { position: relative; top: 2px; font-size: 16px; }
.fix-height { position: relative; top: 0; left: 0; }
.pv-time-input { position: relative; top: 2px; width: 80px; border: solid 1px white; background: none; padding: 2px 10px; }

/* ---- Font - colors - Cursor ----- */

.clickable { cursor: pointer; -moz-user-select: none; -webkit-user-select: none; -ms-user-select: none; user-select: none; }

.pv-h4-font { font-size: 16px }

.pv-gray-darker  { background: #222; color: #eee; }
.pv-gray-dark    { background: #333; color: #eee; }
.pv-gray         { background: #555; color: #eee; }
.pv-gray-light   { background: #777; color: #eee; }
.pv-gray-lighter { background: #eee; color: #000; }

.pv-gray-lighter-transparent { background: rgba(238,238,238,0.8); color: #000; }

.pv-text-black { color: #000; }
.pv-text-white { color: #FFFFFF; }
.pv-text-gray  { color: #555; }
.pv-text-red   { color: #e1002a; }
.pv-text-green { color: #e9bc2f; }

.pv-form-height  { height: 20px; padding: 0 5px;}
select.pv-form-height  { font-size: 12px; }
.pv-round { border-radius: 10px; padding: 0 10px; }

.hover-higlight:hover { background: #333; color: #eee; }

/* ---- Layout related ---- */

.float-right { float: right; }
.float-left { float: left; }

.padding { margin: 5px 2px; }
.nopadding { padding-left: 0 !important; padding-right: 0 !important; }

.pv-side-margin { margin: 0 5px; }
.pv-side-padding { padding: 0 5px; }

.lower-right-round-corner { border-radius: 0 0 10px 0; }

/* ---- Scroll management ---- */

.no-overflow { overflow: hidden; }
.scroll-overflow { overflow: auto; }

.pv-fixed { position: absolute; top: 0; left: 15px; right: 15px; z-index: 1; }
.pv-fixed .pv-editor-bar { margin: 0 !important; padding: 0 !important; }

/* ---- Bootstrap override ---- */

.breadcrumb { margin-bottom: 0; }

.dl-horizontal dd { margin-left: 80px; }
.dl-horizontal dt { width: 60px; }

/* ---- Information Tab ---- */

.pv-data-info dl { margin-bottom: 0; }
.pv-data-info .table { margin-bottom: 20px; }

.pv-callout {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #eee;
    border-image: none;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px 1px 1px 5px;
    margin: 20px 0;
    padding: 20px;
    background: white;
}
.pv-callout h4 { margin-bottom: 5px; margin-top: 0; }
.pv-callout p:last-child { margin-bottom: 0; }
.pv-callout + .pv-callout { margin-top: -5px; }
.pv-callout-info { border-left-color: #222; }
.pv-callout-info h4 { color: #222; }

/* ---- Hide things until connection made ---- */
.hide-on-start { display: none; }
.start-page-image { display: block; margin-left: auto; margin-right: auto }
.start-page-busy-icon { font-size: 48px; margin-left: auto; margin-right: auto; display: block; width: 68px; }
