body {
    padding-top: 60px;
    padding-bottom: 40px;
    color: #EEEEEE;
    line-height: 50px;
}

.main-block {
    background:rgba(0,0,0,0.5);
    padding: 20px 30px 5px 30px;
    border-radius: 10px 10px 10px 10px;
}

.icon {
    margin-right: 30px;
}

.row-fluid.action {
    padding: 5px;
}
.row-fluid.action:hover {
    background-color: rgba(0,0,0,0.4);
    border-radius: 10px 10px 10px 10px;
}

.input-append {
    top: 10px;
    position: relative;
}

.span4 > .btn {
    position: relative;
    top: -5px;
}

.viewport-container {
    display: none;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}