/**
 * Stylesheet for ParaView components vcr toolbar
 *
 * <div class='paraview vcrToolbar'>
 *   <ul>
 *     <li action='' class='toggle hide'><div class='icon'></div></li>
 *   </ul>
 * </div>
*/

.paraview.vcrToolbar {
    position: relative;
    height: 26px;
}

.paraview.vcrToolbar li {
    list-style: none;
    height: 26px;
    width: 26px;
    overflow: hidden;
    margin-left: 5px;
    margin-right: 5px;
}

.paraview.vcrToolbar li.hide {
    display: none;
}

.paraview.vcrToolbar li div.icon {
    position: relative;
    width: 26px;
    height: 26px;
    top: 2px;
    left: -2px;
    display: inline-block;
}

.paraview.vcrToolbar li:hover {
    border-radius: 8px;
    background: #CFCFCF; /* for non-css3 browsers */

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#CFCFCF'); /* for IE */
    background: -webkit-gradient(linear, center top, center bottom, from(#FFFFFF), to(#CFCFCF)); /* for webkit browsers */
    background: -moz-linear-gradient(center top,  #FFFFFF,  #CFCFCF); /* for firefox 3.6+ */
}

.paraview.vcrToolbar li[action=first] div.icon {
    background: url("icons/first.png") no-repeat left top transparent;
}

.paraview.vcrToolbar li[action=prev] div.icon {
    background: url("icons/prev.png") no-repeat left top transparent;
}

.paraview.vcrToolbar li[action=play] div.icon {
    background: url("icons/play.png") no-repeat left top transparent;
}

.paraview.vcrToolbar li[action=pause] div.icon {
    background: url("icons/pause.png") no-repeat left top transparent;
}

.paraview.vcrToolbar li[action=next] div.icon {
    background: url("icons/next.png") no-repeat left top transparent;
}

.paraview.vcrToolbar li[action=last] div.icon {
    background: url("icons/last.png") no-repeat left top transparent;
}
