
.paraview.toolbar.vcr li[action=first] div.icon {
    background: url("paraview/toolbar/vcr/first.png") no-repeat center center transparent;
    height: 26px;
    width: 26px;
}

.paraview.toolbar.vcr li[action=prev] div.icon {
    background: url("paraview/toolbar/vcr/prev.png") no-repeat center center transparent;
    height: 26px;
    width: 26px;
}

.paraview.toolbar.vcr li[action=play] div.icon {
    background: url("paraview/toolbar/vcr/play.png") no-repeat center center transparent;
    height: 26px;
    width: 26px;
}

.paraview.toolbar.vcr li[action=pause] div.icon {
    background: url("paraview/toolbar/vcr/pause.png") no-repeat center center transparent;
    height: 26px;
    width: 26px;
}

.paraview.toolbar.vcr li[action=next] div.icon {
    background: url("paraview/toolbar/vcr/next.png") no-repeat center center transparent;
    height: 26px;
    width: 26px;
}

.paraview.toolbar.vcr li[action=last] div.icon {
    background: url("paraview/toolbar/vcr/last.png") no-repeat center center transparent;
    height: 26px;
    width: 26px;
}

.paraview.toolbar.vcr input.time {
    position: relative;
    top: -6px;
    width: 80px;
}
