/**
 * Stylesheet for ParaView components vcr toolbar
 *
 * <div class='paraview vcrToolbar'>
 *   <ul>
 *     <li action='' class='toggle hide'><div class='icon'></div></li>
 *   </ul>
 * </div>
*/

.paraview.toolbar {
    position: relative;
    height: 26px;
}

.paraview.toolbar li {
    list-style: none;
    height: 30px;
    width: 30px;
    margin-top: 2px;
    margin-left: 5px;
    margin-right: 5px;
    display: inline-block;
}

.paraview.toolbar li.hide {
    display: none;
}

.paraview.toolbar li div.icon {
    position: relative;
    width: 26px;
    height: 26px;
    top: 2px;
    left: 2px;
    display: inline-block;
}

.paraview.toolbar li:hover {
    border-radius: 8px;
    background: #CFCFCF; /* for non-css3 browsers */

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#CFCFCF'); /* for IE */
    background: -webkit-gradient(linear, center top, center bottom, from(#FFFFFF), to(#CFCFCF)); /* for webkit browsers */
    background: -moz-linear-gradient(center top,  #FFFFFF,  #CFCFCF); /* for firefox 3.6+ */
}

.toolbar .loading {
    background: url("paraview/toolbar/common/loading.gif") no-repeat center center transparent;
    width: 225px;
    height: 32px;
    position: absolute;
    right: 50px;
}

.toolbar .logo {
    background: url("paraview/toolbar/common/logo.png") no-repeat left top transparent;
    width: 32px;
    height: 32px;
}

.toolbar .disconnect {
    background: url("paraview/toolbar/common/disconnect.png") no-repeat left top transparent;
    width: 32px;
    height: 32px;
    position: absolute;
    right: 5px;
}

.toolbar .logo-title {
    background: url("paraview/toolbar/common/logo_title.png") no-repeat left top transparent;
    height: 32px;
}

table.viewport-stat {
    color: #ffffff;
    border: 0;
    width: 80%;
}

table.viewport-stat td {
    width: 20%;
}

table.viewport-stat td.label {
    text-align: right;
}
