html, body, div, span, h1, h2, h3, h4, p, a, big, em, font, img, s, small, strong,
tt, var, b,u,i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, table,
tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    font-family: Arial,sans-serif; font-size: 1em;
}

.header {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: 0;
    padding: 0;
    padding-left: 10px;
    padding-right: 10px;
    background: #009999;
    height: 35px;
}

.header > div {
    float: left;
    line-height: normal;
    margin: 0;
    padding: 5px;
    padding-top: 0;
    height: 30px;
}

.viewport-container {
    margin: 0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 35px;
}

.file-list {
    display: none;
    overflow: auto;
    margin: 10px;
    padding: 10px;
    padding-top: 35px;
    position: absolute;
    left: 0;
    width: 500px;
    bottom: 5px;
    top: 40px;
    z-index: 999;
    border-radius:15px;
    background: white;
}

/* ========================= Override default ParaView css ================================== */

.paraview.toolbar.viewport li.on {
    background: #006666;
}

.paraview.toolbar li:hover, .paraview.toolbar.viewport li.on:hover {
    background: #007878;
}

.file-list ul[data='path'] {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: #aaa;
    padding: 5px 0 0 20px;
    border-bottom: 1px solid;
}

.open-file {
    position: relative;
    width: 25px;
    height: 25px;
    background: url("open.png") no-repeat transparent;
}