body {
    margin: 0px;
    padding: 0px;
    height: 100%;
}

div#frame{
    width:1000px;
    margin-right: auto;
    margin-left: auto;
}
.headline {
    font: 18px Verdana, Arial, Helvetica, sans-serif;
}

div#banner{
    width:1000px;
    padding:0;
    height: 97px;
    position: relative;
    z-index: 1020;
    background: url(img/gif_index/banner3.gif);
}
div#new_banner{
    width:1000px;
    padding:0;
    height: 97px;
    position: relative;
    z-index: 1020;
    background: url(img/new_header.png);
}
div#org_banner{
    width:1000px;
    padding:0;
    height: 97px;
    position: relative;
    z-index: 1020;
    background: url(img/new_header_green.png);
}
div#slide_wrapper{
    width:980px;
    padding:0;
    margin: auto;
    height: 251px;
    position: relative;
    z-index: 1020;

}
div#bg {
    margin-left: auto;
    background-repeat: repeat-y;
    height: 100%;
    padding: 0;
    margin-right: auto;
}

div#nav {
    position: relative;
    right: 15px;
    display: block;
    float: right;
    height: 20px;
    top: 77px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #CCCCCC;
    width: 400px;
    z-index: 10;
}
div#nav_bot {
    position: relative;
    right: auto;
    display: block;
    float: left;
    height: 20px;
    top: -5px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #CCCCCC;
    width: 300px;
    z-index: 10;
}
div#menu_item_bot {
    float:left;
    font-size:inherit;
    margin: 0px;
    padding: 0px;
    position:relative;
    text-align:left;
    width: 100px;
}
div#menu_item_bot a:link{
    float:left;
    font-size:inherit;
    margin: 0px;
    padding: 0px;
    position:relative;
    text-align:left;
    width: 100px;
    color: #FFF;
    font-size: 14px;
}

.searchfield {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    background-color: #FFFFFF;
    color: #000033;
    margin-left: 10px;
    padding-left: 3px;
    text-align: left;
    width: 166px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
}
.searchfield_footer {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    background-color: #FFFFFF;
    color: #000033;
    margin-left: 10px;
    padding-left: 3px;
    text-align: left;
    width: 180px;
    height: 22px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    border-radius: 5px;
}

div#btnonimg {
    position: relative;
    float: right;
    right: 30px;
    width: 340px;
    margin: 0px;
    padding: 0px;
    height: 29px;
    bottom: 45px;
}

div#btnBannerlg {
    position: relative;
    float: right;
    right: 10px;
    width: 375px;
    margin: 0px;
    padding: 0px;
    height: 28px;
    bottom: 45px;
}
div#btnBanner {
    position: relative;
    float: right;
    right: 55px;
    width: 300px;
    margin: 0px;
    padding: 0px;
    height: 28px;
    bottom: 45px;
}
div#btnBanner2 {
    position: relative;
    float: right;
    right: 55px;
    width: 300px;
    margin: 0px;
    padding: 0px;
    height: 28px;
    bottom: 55px;
}
div#btnBannerFB {
    position: absolute;
    float: right;
    right: 4px;
    width: 196px;
    margin: 0px;
    padding: 0px;
    height: 29px;
    bottom: -34px;
}
div#btnBannerWeb {
    position: absolute;
    float: right;
    right: 3px;
    width: 200px;
    margin: 0px;
    padding: 0px;
    height: 29px;
    bottom: -34px;
}
div#SocialBannerWeb {
    position: relative;
    right: 235px;
    display: block;
    float: right;
    height: auto;
    top: -65px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #CCCCCC;
    width: 140px;
    z-index: 10;
}
div#search {
    display: block;
    height: 24px;
    width: 180px;
    position: relative;
    top: 0px;
    float: left;
    left: 809px;
    text-align: right;
}
div#search_footer {
    display: block;
    height: 24px;
    width: 150px;
    position: relative;
    top: -61px;
    float: left;
    left: 745px;
    text-align: right;
}
.form {
    font-size: 12px;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    height: 15px;
    width: 250px;
    padding: 3px;
}

div#Content{
    width:1000px;
    margin: 0 auto;
    padding: 0;
    background: url(img/contentbg.png) no-repeat;
    z-index: 0;
}
div#ContentIndex{
    width:1000px;
    margin: 0 auto;
    padding: 0;

    z-index: 0;
}
div#cmakelogo {
    height: 100px;
    width: 373px;
    top: -3px;
    position: absolute;
    float: left;
    left: 15px;
}
div#cdashlogo {
    height: 100px;
    width: 373px;
    top: -3px;
    position: absolute;
    float: left;
    left: 15px;
}
div#logo {
    height: 43px;
    width: 252px;
    top: -3px;
    position: absolute;
    float: left;
    left: 0px;
}

div#ContentBg {
    width: 1000px;
    background: url(img/contentbg2.png) repeat-y;
}
div#ContentIndexBg {
    width: 1000px;
    background: url(img/contentbg3.png) repeat-y;
}
div#ContentListBio{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    width: 215px;
    float: left;
    margin: 0;
    line-height: 18px;
    text-align: left;
    position: relative;
    left: 30px;
    top: 25px;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #999999;
    overflow: hidden;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    background-image: url(img/background_team.png);
}

div#ContentListNews {
    width: 160px;
    float: left;
    margin: 0;
    text-align: left;
    position: relative;
    left: 30px;
    top: 25px;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #999999;
    overflow-x:hidden;
    overflow-y:auto;
    padding: 0px 10px 0px 0px;
    font: 10px/14px Verdana, Arial, Helvetica, sans-serif;
    height: 700px;
}

div#ContentTabProd {
    text-align: left;
    width: 95%;
    margin-right: auto;
    margin-left: auto;
}

div#ContentImgProd{
    width: 405px;
    float: right;
    margin: 0;
    padding: 0;
    right: 11px;
    position: relative;
    top: 30px;
    text-align: right;
    height: 351px;
    z-index: inherit;

    visibility: visible;
}
div#ContentImgProdIGSTK{
    float: left;
    margin: 12px;
    padding: 0;
    right: 11px;
    z-index: inherit;

    visibility: visible;
}

.ContentMenu {
    text-align: left;
}

div#ContentTabBio {
    float: left;
    position: relative;
    top: 143px;
    left: 16px;
    text-align: left;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
}

div#ContentTabTOC {
    width: auto;
    float: right;
    position: absolute;
    text-align: left;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
}

div#ContentImgBio {
    width: 742px;
    float: right;
    right: 11px;
    position: relative;
    top: 10px;
    text-align: right;
}
div#ContentMenu {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #000000;
    font-size: 10px;
}
div#ContentFeatProd {
    height: 171px;
    width: 967px;
    margin-right: auto;
    margin-left: auto;
}
div#ContentTxtProd {
    width: 522px;
    float: left;
    margin: 0;
    text-align: justify;
    position: relative;
    left: 30px;
    padding: 0px;
    top: 25px;
    font: 11px/2em Verdana, Arial, Helvetica, sans-serif;
}

div#ContentTxtEmploy {
    width: 350px;
    height: 375px;
    float: left;
    margin: 0;
    text-align: left;
    position: relative;
    left: 30px;
    padding: 15px;
    top: 9px;
    font: 11px/2em Verdana, Arial, Helvetica, sans-serif;
    background-color: #FFF;
    padding-top: 0px;
    box-shadow: 2px 2px 2px 2px #CCC;
    -moz-box-shadow: 2px 2px 2px 2px #CCC;
    -webkit-box-shadow: 2px 2px 2px 2px #CCC;
}
div#ContentTxtFeed {
    width: 515px;
    height: 375px;
    float: left;
    text-align: left;
    position: relative;
    left: 30px;
    padding: 15px;
    top: 9px;
    font: 11px/2em Verdana, Arial, Helvetica, sans-serif;
    background-color: #FFF;
    margin-left: 15px;
    padding-top: 0px;
    box-shadow: 2px 2px 2px 2px #CCC;
    -moz-box-shadow: 2px 2px 2px 2px #CCC;
    -webkit-box-shadow: 2px 2px 2px 2px #CCC;
}
div#ContentTxtProdWide {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    width: 812px;
    float: left;
    margin: 0;
    line-height: 2em;
    text-align: justify;
    position: relative;
    left: 30px;
    padding: 0px;
    top: 25px;
}


div#ContentTxtError {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    width: 895px;
    float: left;
    margin: 0;
    line-height: 2em;
    text-align: justify;
    position: relative;
    left: 30px;
    padding: 0px;
    top: 25px;
}

div#ContentTxtTeamWide {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    width: 850px;
    float: left;
    margin: 0;
    line-height: 2em;
    text-align: justify;
    position: relative;
    left: 30px;
    padding: 0px;
    top: 25px;
}

div#ContentTxtTeamShort {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    width: 635px;
    float: left;
    margin: 0;
    line-height: 2em;
    text-align: justify;
    position: relative;
    left: 30px;
    padding: 0px;
    top: 25px;
}
div#ContentTxtProdWide h1 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 18px;
}
div#ContentNews {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    line-height: normal;
    text-align: left;
}
div#ContentNews strong {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
}

div#ContentTxtBio {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    width: 612px;
    float: left;
    margin: 0;
    line-height: 2em;
    text-align: justify;
    position: relative;
    left: 29px;
    top: 25px;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: #999999;
    padding: 0px 0px 0px 19px;
}

div#footer{
    color: #000000;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 9px;
    height: 131px;
    width: 980px;
    margin: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 20px;
    line-height: 12px;
    background: url(img/foot.png) repeat-y;
}
div#new_footer{
    color: #FFF;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    ;
    font-size: 10px;
    height: 120px;
    width: auto;
    margin: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 30px;
    line-height: none;
    background: url(img/new_footer.png) repeat-y;
    background-repeat:no-repeat;
    position: static;

}
div#org_footer{
    color: #FFF;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    ;
    font-size: 10px;
    height: 120px;
    width: auto;
    margin: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 30px;
    line-height: none;
    background: url(img/new_footer_green.png) repeat-y;
    background-repeat:no-repeat;
    position: static;

}
div#new_footer a{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #FFF;
}
div#footer a:hover {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #0099CC;
    text-decoration: underline;
}

.clear {
    clear: both;
}
a:hover {
    color: #0099CC;
    text-decoration: underline;
}
.price {
    font: bold 14px Verdana, Arial, Helvetica, sans-serif;
}


a {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #006699;
    text-decoration: none;
}

div#ContentTxtProdPubs {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    width: 862px;
    float: none;
    margin: 0;
    line-height: 2em;
    position: relative;
    left: 30px;
    padding: 0px;
    top: 25px;
}
div#ContentTxtProdFull {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    width: 942px;
    float: none;
    margin: 0;
    line-height: 2em;
    position: relative;
    left: 30px;
    padding: 0px;
    top: 25px;
}
div#ContentMediaFull {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    width: 960px;
    float: none;
    margin: 0;
    line-height: 2em;
    position: relative;
    left: 30px;
    padding: 0px;
    height: 350px;
    background-image:url(img/media_banner.png);
    bottom: 0px;
    top: 0px;
}
div#ContentCompFull {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    width: 960px;
    float: none;
    margin: 0;
    line-height: 2em;
    position: relative;
    left: 30px;
    padding: 0px;
    height: 350px;
    background-image:url(img/company_banner.png);
}
div#ContentProductFull {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    width: 960px;
    float: none;
    margin: 0;
    line-height: 2em;
    position: relative;
    left: 30px;
    padding: 0px;
    height: 350px;
    background-image:url(img/products_banner.png);
}
div#ContentTxtBookContain {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    width: 932px;
    float: none;
    margin: 0;
    line-height: 2em;
    position: relative;
    left: 20px;
    padding: 0px;
    top: 25px;
}

div#ContentFeatProd1 {
    height: 170px;
    width: 241px;
    float: left;
}

div#ContentFeatProd2 {
    height: 170px;
    width: 241px;
    float: right;
    position: relative;
    right: 3px;
}

div#ContentFeatProd3 {
    height: 170px;
    width: 241px;
    float: right;
}

div#ContentFeatProd4 {
    height: 170px;
    width: 241px;
    float: right;
}

div#ContentFeatProdWide1 {
    height: 171px;
    width: 321px;
    float: left;
}

div#ContentFeatProdWide2 {
    height: 171px;
    width: 321px;
    float: right;
    position: relative;
    right: 3px;
}

div#ContentFeatProdWide3 {
    height: 171px;
    width: 321px;
    float: right;
}

.btnBrochure:hover {
    background: url(img/btnBrochure2.png);
}

div#bannerVTKEdge {
    width:1000px;
    padding:0;
    height: 97px;
    position: relative;
    z-index: 1020;
    background: url(img/bannerorg.png);
}

div#bannerSimpelItk {
    width:1000px;
    padding:0;
    height: 97px;
    position: relative;
    z-index: 1020;
    background: url(img/bannerorg.png);
}

div#bannerBatchmake {
    width:1000px;
    padding:0;
    height: 97px;
    position: relative;
    z-index: 1020;
    background: url(img/bannerorg.png);
}

div#bannerMIDAS {
    width:1000px;
    padding:0;
    height: 97px;
    position: relative;
    z-index: 1020;
    background: url(img/bannerorg.png);
}

div#bannerItk {
    width:1000px;
    padding:0;
    height: 97px;
    position: relative;
    z-index: 1020;
    background: url(img/bannerorg.png);
}

div#bannerCalatk {
    width:1000px;
    padding:0;
    height: 97px;
    position: relative;
    z-index: 1020;
    background: url(img/bannerorg_full.png);
}
div#bannerSimpleItk {
    width:1000px;
    padding:0;
    height: 97px;
    position: relative;
    z-index: 1020;
    background: url(img/bannerorg.png);
}

div#bannerKWInternal {
    width:1000px;
    padding:0;
    height: 97px;
    position: relative;
    z-index: 1020;
    background: url(/kwinternal/img/header_banner.png);
}

div#banneroverview {
    width:1000px;
    padding:0;
    height: 97px;
    position: relative;
    z-index: 1020;
    background: url(img/bannerorg.png);
}
div#bannerVtk {
    width:1000px;
    padding:0;
    height: 97px;
    position: relative;
    z-index: 1020;
    background: url(img/bannerorg.png);
}
div#bannerPara {
    width:1000px;
    padding:0;
    height: 97px;
    position: relative;
    z-index: 1020;
    background: url(img/bannerorg.png);
}
div#logo2 {
    height: 35px;
    width: 75px;
    top: 0px;
    position: absolute;
    float: left;
    left: 722px;
}
div#bannerWidgets {
    width:1000px;
    padding:0;
    height: 97px;
    position: relative;
    z-index: 1020;
    background: url(img/bannerorg.png);
}
div#ContentImgLong {
    width: 405px;
    float: right;
    margin: 0;
    padding: 0;
    right: 11px;
    position: relative;
    top: auto;
    text-align: right;
    height: 400px;
    z-index: inherit;
    overflow: hidden;
    cursor: pointer;
}
div#ContentImgLong2 {
    width: 384px;
    float: right;
    margin: 0;
    padding: 0;
    right: 20px;
    position: relative;
    top: auto;
    text-align: right;
    height: 400px;
    z-index: inherit;
    overflow: hidden;
    cursor: pointer;
}
div#btnCaption {
    position: relative;
    float: right;
    right: 35px;
    width: 380px;
    margin: 0px;
    padding: 0px;
    height: 28px;
    top: 25px;
    font: 9px/2em Verdana, Arial, Helvetica, sans-serif;
    text-align: center;
}
div#btnCaption2 {
    position: relative;
    float: right;
    right: 10px;
    width: 380px;
    margin: 0px;
    padding: 0px;
    height: 0px;
    top: -20px;
    font: 10px/2em Verdana, Arial, Helvetica, sans-serif;
    text-align: left;
}
div#btnCaptionImg {
    position: relative;
    float: right;
    right: 12px;
    width: 380px;
    margin: 0px;
    padding: 0px;
    height: 28px;
    top: -5px;
    font: 9px/2em Verdana, Arial, Helvetica, sans-serif;
    text-align: right;
}
div#bannercdash {
    width:1000px;
    padding:0;
    height: 97px;
    position: relative;
    z-index: 1020;
    background: url(img/bannerorg.png);
}

div#bannercmake {
    width:1000px;
    padding:0;
    height: 97px;
    position: relative;
    z-index: 1020;
    background: url(img/bannerorg.png);
}
div#bannerIGSTK {
    width:1000px;
    padding:0;
    height: 97px;
    position: relative;
    z-index: 1020;
    background: url(img/bannerorg.png);
}
div#textboxstyle {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #000000;
    background-color: #CCCCCC;
}
.subheadline {
    font: 14px Verdana, Arial, Helvetica, sans-serif;
    font-style: italic;
}
div#btnonimg {
    position: relative;
    float: right;
    right: 30px;
    width: 340px;
    margin: 0px;
    padding: 0px;
    height: 29px;
    bottom: 45px;
}

div#slideshow_action {
    position: relative;
    left: 40px;
    top: 308px;
}

ul#pubdb_api_subglobal
{
    position:relative;
    left:0px;
    top:-20px;
    list-style-type:none;
    display:inline;
    line-height:150%;
}

ul#pubdb_api_subglobal li
{
    margin-bottom:9px;
}


div#slideshow_content
{
    top: -5px;
    position:relative;
    height:321px;
    width:405;
}


div#sidemenu {
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 10.5px;
    width: 215px;
    float: left;
    margin: 0;
    line-height: 1.75em;
    text-align: justify;
    position: left;
    left: 30px;
    padding: 0px;
    top: 45px;
    color: #333;
}

div#locationside {
    font: 11px/2em Verdana, Arial, Helvetica, sans-serif;
    width: 215px;
    float: left;
    margin: 0;
    line-height: 1.75em;
    text-align: justify;
    position: left;
    left: 30px;
    padding: 0px;
    top: 45px;
    color: #333;
    padding-right: 15px;
}
div#ContentTxtSolutions {
    width: 425px;
    float: left;
    margin: 0;
    text-align: justify;
    color:#FFF;
    position: relative;
    left: 30px;
    padding: 0px;
    top: 0px;
    font: 11px/2em Verdana, Arial, Helvetica, sans-serif;
}
div#ContentTxtSolutionsData {
    width: 700px;
    float: right;
    margin: 0px;
    text-align: justify;
    color:#FFF;
    position: relative;
    left: -10px;
    padding: 25px;
    top: 0px;
    font: 11px/2em Verdana, Arial, Helvetica, sans-serif;
    background-color: #010416;
    padding-right: 11px;
    background-image: url(solutions/datamanagement/img/background_data.jpg);
}
div#ContentTxtSolutionsMedical {
    width: 700px;
    float: right;
    margin: 0px;
    text-align: justify;
    color:#FFF;
    position: relative;
    left: -10px;
    padding: 25px;
    top: 0px;
    font: 11px/2em Verdana, Arial, Helvetica, sans-serif;
    background-color: #010416;
    padding-right: 11px;
    background-image: url(solutions/medicalimaging/img/background_med.jpg);
}
div#ContentTxtSolutionsCV {
    width: 700px;
    float: right;
    margin: 0px;
    text-align: justify;
    color:#FFF;
    position: relative;
    left: -10px;
    padding: 25px;
    top: 0px;
    font: 11px/2em Verdana, Arial, Helvetica, sans-serif;
    background-color: #010416;
    padding-right: 11px;
    background-image: url(solutions/computervision/img/background_cv.jpg);
}

div#ContentTxtSolutionsSoftware {
    width: 700px;
    float: right;
    margin: 0px;
    text-align: justify;
    color:#FFF;
    position: relative;
    left: -10px;
    padding: 25px;
    top: 0px;
    font: 11px/2em Verdana, Arial, Helvetica, sans-serif;
    background-color: #010416;
    padding-right: 11px;
    background-image: url(solutions/softwareprocess/img/background_software.jpg);
}
div#ContentTxtSolutionsSci {
    width: 700px;
    float: right;
    margin: 0px;
    text-align: justify;
    color:#FFF;
    position: relative;
    left: -10px;
    padding: 25px;
    top: 0px;
    font: 11px/2em Verdana, Arial, Helvetica, sans-serif;
    background-color: #010416;
    padding-right: 11px;
    background-image: url(solutions/scientificcomputing/img/background_sci.jpg);
}
div#ContentTxtSolutionsInfo {
    width: 700px;
    float: right;
    margin: 0px;
    text-align: justify;
    color:#FFF;
    position: relative;
    left: -10px;
    padding: 25px;
    top: 0px;
    font: 11px/2em Verdana, Arial, Helvetica, sans-serif;
    background-color: #010416;
    padding-right: 11px;
    background-image: url(solutions/informatics/img/background_info.jpg);
}
.solution_insider {
    width: 400px;
    float: left;
    margin: 0px;
    text-align: justify;
    color:#FFF;
    position: relative;
    left: -11px;
    top: 0px;
    font: 11px/2em Verdana, Arial, Helvetica, sans-serif;
    padding-left: 25px;
}
div#ContentTxtSolutionsv2 {
    width: 425px;
    float: left;
    margin: 0;
    text-align: justify;
    position: relative;
    left: 30px;
    padding: 0px;
    top: 0px;
    font: 11px/2em Verdana, Arial, Helvetica, sans-serif;
}
div#ContentTxtSolutionsv3 {
    width: 650px;
    float: left;
    margin: 0;
    text-align: justify;
    position: relative;
    left: 30px;
    padding: 0px;
    top: 0px;
    font: 11px/2em Verdana, Arial, Helvetica, sans-serif;
}

div#ContentTxtStories {
    width: 680px;
    float: right;
    margin: 0;
    text-align: justify;
    position: relative;
    left: -11px;
    padding: 0px;
    top: 0px;
    font: 11px/2em Verdana, Arial, Helvetica, sans-serif;
}

div#bgmedical {
    background-image: url(solutions/medicalimaging/img/medical_bgv3.png);
    background-position: bottom right;
    height: 598px;
    width: 980px;
    margin: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 20px;
}

div#bgsciviz {
    background-image: url(solutions/scientificcomputing/img/sciviz_bg.png);
    background-position: bottom right;
    height: 598px;
    width: 980px;
    margin: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 20px;
}

div#bginformatics {
    background-image: url(solutions/informatics/img/informatics_bckground.png);
    background-position: bottom right;
    height: 598px;
    width: 980px;
    margin: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 20px;
}
div#bgmedtech_ls {
    background-image: url(solutions/medicalimaging/img/medbg_ls.png);
    background-position: bottom right;
    height: 598px;
    width: 980px;
    margin: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 20px;
}
div#bgdatatech_op {
    background-image: url(solutions/datamanagement/img/datatech_opbg.png);
    background-position: bottom right;
    height: 598px;
    width: 980px;
    margin: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 20px;
}
div#bgdatatech_wv {
    background-image: url(solutions/datamanagement/img/datatech_wvbg.png);
    background-position: bottom right;
    height: 598px;
    width: 980px;
    margin: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 20px;
}
div#bgmedtech_ia {
    background-image: url(solutions/medicalimaging/img/medbg_ia.png);
    background-position: bottom right;
    height:675px;
    width: 980px;
    margin: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 20px;
}
div#bgmedtech_vr {
    background-image: url(solutions/medicalimaging/img/medbg_vr.png);
    background-position: bottom right;
    height: 598px;
    width: 980px;
    margin: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 20px;
}
div#bgmedtech_ct {
    background-image: url(solutions/medicalimaging/img/medbg_ct.png);
    background-position: bottom right;
    height: 598px;
    width: 980px;
    margin: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 20px;
}
div#bgmedtech_dp {
    background-image: url(solutions/medicalimaging/img/medbg_dp.png);
    background-position: bottom right;
    height: 598px;
    width: 980px;
    margin: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 20px;
}

div#bg_vtk {
    background-image: url(opensource/img/background_vtk.png);
    background-position: bottom right;
    height: 598px;
    width: 980px;
    margin: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 20px;
}
div#bg_opensource {
    background-image: url(opensource/img/background_opensource.png);
    background-position: bottom right;
    height: 598px;
    width: 980px;
    margin: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 20px;
}
div#bg_itk {
    background-image: url(opensource/img/background_itk.png);
    background-position: bottom right;
    height: 598px;
    width: 980px;
    margin: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 20px;
}

div#bg_igstk {
    background-image: url(opensource/img/background_igstk.png);
    background-position: bottom right;
    height: 598px;
    width: 980px;
    margin: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 20px;
}

div#bg_cmake {
    background-image: url(opensource/img/background_cmake.png);
    background-position: bottom right;
    height: 598px;
    width: 980px;
    margin: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 20px;
}

div#bg_cdash {
    background-image: url(opensource/img/background_cdash.png);
    background-position: bottom right;
    height: 598px;
    width: 980px;
    margin: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 20px;
}
div#bg_lst {
    background-image: url(opensource/img/background_lst.png);
    background-position: bottom right;
    height: 598px;
    width: 980px;
    margin: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 20px;
}

div#bg_tubetk {
    background-image: url(opensource/img/background_tubetk.png);
    background-position: bottom right;
    height: 598px;
    width: 980px;
    margin: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 20px;
}

div#bg_midas {
    background-image: url(opensource/img/background_midas.png);
    background-position: bottom right;
    height: 598px;
    width: 980px;
    margin: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 20px;
}

div#bg_paraview {
    background-image: url(opensource/img/background_paraview.png);
    background-position: bottom right;
    height: 598px;
    width: 980px;
    margin: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 20px;
}
div#bg_openchemistry {
    background-image: url(opensource/img/background_openchemistry.png);
    background-position: bottom right;
    height: 598px;
    width: 980px;
    margin: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 20px;
}
div#bg_visomics {
    background-image: url(opensource/img/background_visomics.png);
    background-position: bottom right;
    height: 598px;
    width: 980px;
    margin: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 20px;
}
div#bg_batchmake {
    background-image: url(opensource/img/background_batchmake.png);
    background-position: bottom right;
    height: 598px;
    width: 980px;
    margin: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 20px;
}
div#bg_kiwi {
    background-image: url(opensource/img/background_kiwi.png);
    background-position: bottom right;
    height: 598px;
    width: 980px;
    margin: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 20px;
}

div#bgscitech_ld {
    background-image: url(solutions/scientificcomputing/img/scivizbg_ld.png);
    background-position: bottom right;
    height: 598px;
    width: 980px;
    margin: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 20px;
}
div#bgscitech_sim {
    background-image: url(solutions/scientificcomputing/img/scivizbg_sim.png);
    background-position: bottom right;
    height: 598px;
    width: 980px;
    margin: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 20px;
}
div#bgscitech_co {
    background-image: url(solutions/scientificcomputing/img/scivizbg_co.png);
    background-position: bottom right;
    height: 598px;
    width: 980px;
    margin: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 20px;
}
div#bgscitech_chem {
    background-image: url(solutions/scientificcomputing/img/scivizbg_chem.png);
    background-position: bottom right;
    height: 598px;
    width: 980px;
    margin: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 20px;
}
div#bgcvtech_su {
    background-image: url(solutions/computervision/img/cvbg_su.png);
    background-position: bottom right;
    height: 598px;
    width: 980px;
    margin: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 20px;
}
div#bgcvtech_3d {
    background-image: url(solutions/computervision/img/cvbg_3d.png);
    background-position: bottom right;
    height: 598px;
    width: 980px;
    margin: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 20px;
}
div#bgcvtech_ba {
    background-image: url(solutions/computervision/img/cvbg_ba.png);
    background-position: bottom right;
    height: 598px;
    width: 980px;
    margin: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 20px;
}
div#bgcvtech_ir {
    background-image: url(solutions/computervision/img/cvbg_ir.png);
    background-position: bottom right;
    height: 598px;
    width: 980px;
    margin: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 20px;
}
div#bgcvtech_wa {
    background-image: url(solutions/computervision/img/cvbg_wa.png);
    background-position: bottom right;
    height: 598px;
    width: 980px;
    margin: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 20px;
}
div#bgcvtech_dt {
    background-image: url(solutions/computervision/img/cvbg_dt.png);
    background-position: bottom right;
    height: 598px;
    width: 980px;
    margin: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 20px;
}
div#sptechbg_tdd {
    background-image: url(solutions/softwareprocess/img/sptechbg_tdd.png);
    background-position: bottom right;
    height: 598px;
    width: 980px;
    margin: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 20px;
}
div#sptechbg_dvc {
    background-image: url(solutions/softwareprocess/img/sptechbg_dvc.png);
    background-position: bottom right;
    height: 598px;
    width: 980px;
    margin: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 20px;
}
div#sptechbg_cp {
    background-image: url(solutions/softwareprocess/img/sptechbg_cp.png);
    background-position: bottom right;
    height: 598px;
    width: 980px;
    margin: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 20px;
}
div#infotechbg_bi {
    background-image: url(solutions/informatics/img/infobg_bi.png);
    background-position: bottom right;
    height: 598px;
    width: 980px;
    margin: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 20px;
}
div#infotechbg_ta {
    background-image: url(solutions/informatics/img/infobg_ta.png);
    background-position: bottom right;
    height: 598px;
    width: 980px;
    margin: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 20px;
}
div#bgscitech_mv {
    background-image: url(solutions/scientificcomputing/img/scivizbg_mv.png);
    background-position: bottom right;
    height: 598px;
    width: 980px;
    margin: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 20px;
}
div#bgscitech_web {
    background-image: url(solutions/scientificcomputing/img/scivizbg_web.png);
    background-position: bottom right;
    height: 598px;
    width: 980px;
    margin: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 20px;
}
div#bgdatamngmnt {
    background-position: bottom right;
    height: 598px;
    width: 980px;
    margin: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 20px;
    background-color: #0D2523;
    background-image: url(solutions/datamanagement/img/data_bg.png);
}
div#bgsoftware {
    background-image: url(solutions/softwareprocess/img/software_bg.png);
    background-position: bottom right;
    height: 598px;
    width: 980px;
    margin: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 20px;
}
div#bgcompvis {
    background-image: url(solutions/computervision/img/cvbg.png);
    background-position: bottom right;
    height: 598px;
    width: 980px;
    margin: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 20px;
}
div#bgtestv3 {
    background-image: url(img/rtp_bg.png);
    background-position: bottom;
    height: 1200px;
    width: 1000px;
    margin: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 20px;
}
div#bgtvt {
    background-image: url(img/tvt_bg.png);
    background-position: bottom;
    height: 595px;
    width: 1000px;
    margin: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 20px;
}
div#titletext {
    font: 26px Myriad Pro, Arial, Helvetica, sans-serif;
}

div#smalltitletext {
    font: 16px/1.5em Myriad Pro, Arial, Helvetica, sans-serif;
}
#smalltitletext a{
    font: 16px/1.5em Myriad Pro, Arial, Helvetica, sans-serif;

}
div#mediumtitletext {
    font: 18px/2em Myriad Pro, Arial, Helvetica, sans-serif;
}
#mediumtitletext a{
    font: 18px/1.5em Myriad Pro, Arial, Helvetica, sans-serif;

}
div#areatitletext {
    font: 17px/1.5em Myriad Pro, Arial, Helvetica, sans-serif;
}

div#sidemenu_lined {
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 10.5px;
    width: 215px;
    float: left;
    margin: 0;
    line-height: 1.75em;
    text-align: justify;
    position: left;
    left: 30px;
    padding: 0px;
    top: 45px;
    color: #333;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #999999;
}
div#ContentTxtEvent {
    width: 655px;
    float: right;
    margin: 0;
    text-align: justify;
    position: relative;
    left: -37px;
    padding: 0px;
    top: 0px;
    font: 11px/2em Verdana, Arial, Helvetica, sans-serif;
}
div#ContentTxtMap {
    width: 735px;
    float: right;
    margin: 0;
    text-align: justify;
    position: relative;
    left: 0px;
    padding: 0px;
    top: 0px;
    font: 11px/2em Verdana, Arial, Helvetica, sans-serif;
}
div#employ_banner{
    width:1000px;
    padding:0;
    height: 108px;
    position: relative;
    z-index: 1020;
    background: url(employment/images/top_navigation.png);
}
employ_body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    background: url(employment/images/bg_image.png) repeat-x;
}
#largelink {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
/* The Nivo Slider styles */
.nivoSlider {
    position:relative;
}
.nivoSlider img {
    position:absolute;
    top:0px;
    left:0px;
}
/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    border:0;
    padding:0;
    margin:0;
    z-index:6;
    display:none;
}
/* The slices and boxes in the Slider */
.nivo-slice {
    display:block;
    position:absolute;
    z-index:5;
    height:100%;
}
.nivo-box {
    display:block;
    position:absolute;
    z-index:5;
}
/* Caption styles */
.nivo-caption {
    position:absolute;
    left:0px;
    bottom:0px;
    background:#000;
    color:#fff;
    opacity:0.8; /* Overridden by captionOpacity setting */
    width:100%;
    z-index:8;
}
.nivo-caption p {
    padding:5px;
    margin:0;
}
.nivo-caption a {
    display:inline !important;
}
.nivo-html-caption {
    display:none;
}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
    position:absolute;
    top:45%;
    z-index:9;
    cursor:pointer;
}
.nivo-prevNav {
    left:0px;
}
.nivo-nextNav {
    right:0px;
}
/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav a {
    position:relative;
    z-index:9;
    cursor:pointer;
}
.nivo-controlNav a.active {
    font-weight:bold;
}
.slider img{
    position:absolute;
    top: 0px;
    left: 0px;
    display:none;
}
.slider a {
    border: 0px;
    display:block;
}

div#news_feed {
    width: 250px;
    height: 370px;
    float: left;
    padding-top: 5px;
}

div#events_feed {
    width: 250px;
    height: 370px;
    float: left;
    padding-top: 5px;
    margin-left: 15px;
}
.employjoinus_copy {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 11px;
    font-style: normal;
    line-height: 17px;
    font-weight: normal;
    position: relative;
    background-attachment: fixed;
    background-image: none;
    background-repeat: no-repeat;
    background-position: right bottom;
    text-align: justify;
    top: 10px;
    padding-right: 0px;
    padding-left: 0px;
    width: 344px;
    float: left;
    font-variant: normal;
    padding-top: 0px;
    padding-bottom: 15px;
}

div.doc-links > ul {
    float: right;
}

div.doc-links > ul > li {
    display: block;
    margin: 5px 50px 0px 10px;
}