# This file should always contain exact version references so that we know what
# we are actually testing at any given point.

# NetCDFTimeAnnotationPlugin
cftime==1.6.5

# numpy
numpy==2.4.4

# Cinema
pandas==2.3.3

# ParaViewWeb
aiohttp==3.13.5
wslink==2.5.6

# setuptools required for distutils since python 3.12+
setuptools==75.5.0
